.tool-status {
  /* Local tokens */
  --tool-status--Gap: var(--pf-t--global--spacer--sm);
  --tool-status--icon--Size: var(--pf-t--global--icon--size--lg);
  --tool-status--pulse--Duration: calc(
    4 * var(--pf-t--global--motion--duration--2xl)
  );
  --tool-status--pulse--TimingFunction: var(
    --pf-t--global--motion--timing-function--default
  );

  gap: var(--tool-status--Gap);
}

.tool-status .pf-v6-c-flex__item,
.tool-status .pf-m-align-self-center {
  display: flex;
  align-items: center;
}

.tool-status__icon {
  width: var(--tool-status--icon--Size);
  height: var(--tool-status--icon--Size);
  font-size: var(--tool-status--icon--Size);
}

.tool-status__spinner {
  --pf-v6-c-spinner--diameter: var(--tool-status--icon--Size);
  width: var(--tool-status--icon--Size);
  height: var(--tool-status--icon--Size);
  font-size: var(--tool-status--icon--Size);
}

.tool-status__icon--success {
  color: var(--pf-t--global--icon--color--status--success--default);
}

.tool-status__icon--error {
  color: var(--pf-t--global--icon--color--status--danger--default);
}

.tool-status__icon--pending {
  color: var(--pf-t--global--text--color--subtle);
  animation: tool-status-pulse var(--tool-status--pulse--Duration)
    var(--tool-status--pulse--TimingFunction) infinite;
}

@keyframes tool-status-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}

.tool-status__text {
  color: var(--pf-t--global--text--color--subtle);
  font-family: var(--pf-t--global--font--family--mono);
  font-size: var(--pf-t--global--font--size--body--sm);
  font-style: normal;
  font-weight: var(--pf-t--global--font--weight--body--bold);
  line-height: var(--pf-t--global--line-height--body);
}
